---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title="Physics"
      description="Mr. Buckley's Physics class at Merit Preparatory Academy"
    />
  </head>
  <body>
    <Header />
    <main>Physics</main>
    <Footer />
  </body>
</html>
