---
const today = new Date();
---

<footer id="bottomfooter">
  &copy; {today.getFullYear()}
  <a
    target="_blank"
    class="hover:underline font-semibold"
    href="https://davidjaybuckley.com">David Buckley</a
  >. All rights reserved.
  <div class="social-links">
    <a href="/" title="Mr. Buckley Science Home">
      <span class="sr-only">Home</span>
      🏠
    </a>
    <a
      href="https://www.meritprepacademy.org/"
      target="_blank"
      title="Merit Preparatory Academy (external link)"
    >
      <span class="sr-only">Merit Preparatory Academy</span>
      <img
        src="https://static.wixstatic.com/media/e544f1_42cff50200f94546a09eb31e22b85ebe~mv2.png/v1/fill/w_163,h_100,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Merit-Logo-Large.png"
        width="48"
        height="48"
      />
    </a>
    <a 
      href="https://cs.dbuckley.dev" 
      target="_blank"
      title="Learn CS with Mr. Buckley (external link)"
    >
      <span class="sr-only">Learn CS</span>
      🖳
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  @media print {
    footer {
      display: none;
    }
  }
  .social-links {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    font-size: 32px;
    line-height: 28px;
  }
  .social-links a:hover {
    transform: scale(1.1);
  }
</style>
<script is:inline>
  if (!!new URLSearchParams(window.location.search).get("embed")) {
    document.querySelector("#bottomfooter").remove();
  }
</script>
