---
const {theme, title} = Astro.props;
---

{import.meta.env.DEV ? (
  <link rel="stylesheet" href="/node_modules/reveal.js/dist/reveal.css" />
  <link
    rel="stylesheet"
    href={`/node_modules/reveal.js/dist/theme/${theme}.css`}
  />
  ) : (
  <link rel="stylesheet" href="/reveal.js/reveal.css" />
  <link
    rel="stylesheet"
    href={`/reveal.js/theme/${theme}.css`}
  />
  )
}
<title>{title}</title>
<style>
  .reveal iframe, .reveal img {
    margin: 0 auto !important;
    display: block;
  }
  .katex-display, .katex-display>.katex, .katex-display>.katex>.katex-html {
    display: unset !important; 
  }
</style>