---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
// import EnvelopeLab from "@/components/labs/hu";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import {
  TypographyH2,
  TypographyH4,
  TypographyP,
} from "@/components/ui/typography";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      #colors td, #colors th {
        padding: 0.25rem 0.5rem;
      }
      #colors {
        border-width: 2px;
      }
    </style>
  </head>
  <body>
    <Header />
    <main class:list={["container-lg", "py-4", "mb-24"]}>
      <header class="mb-2">
        <TypographyH2>City Generator Lab</TypographyH2>
        <TypographyP>
        </TypographyP>
      </header>
      <div class="flex flex-col justify-end h-[120px]">
        <img alt="city pic" style="display: none;">
      </div>
      <a href="/labs/city-generator" id="refresh">Reload</a>
    </main>
    <script is:inline>
      function getRandomPop(min, max) {
  const pop = Math.round((Math.random() * (max - min) + min) / 1000) * 1000;
  return {
    value: pop,
    pretty: pop.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
  };
}
const populationRange = [
  {
    imgSrc: "small.png",
    range: [1000, 100000],
  },
  {
    imgSrc: "medium.png",
    range: [100000, 500000],
  },
  {
    imgSrc: "large.png",
    range: [500000, 5000000],
  },
];
const environments = ["desert", "coastal", "grassland", "plains", "tundra"];
const modifiers = ["hilly ", "mountainous ", "foresty ", "lakeside "];

const pop = populationRange[Math.floor(Math.random() * 3)];
const city = {
  pop: getRandomPop(pop.range[0], pop.range[1]),
  region:
    (Math.random() * 4 > 1 ? modifiers[Math.floor(Math.random() * 4)] : "") +
    environments[Math.floor(Math.random() * 5)],
};
document.querySelector("p").innerHTML = `
  You need to plan a city with a population of ${city.pop.pretty} that is in a ${city.region} region.
`;
const img = document.querySelector("img");
      img.src = "/assets/labs/city-generator/" + pop.imgSrc;
let height = "120px";
switch (pop.imgSrc) {
  case "medium.png":
    height = "80px";
    break;
  case "small.png":
    height = "40px";
    break;
}
img.style.display = "block";
img.style.width = "100%";
img.style.height = height;

    </script>
 </body>
</html>
