---
import SlidesHead from "@/components/SlidesHead.astro";
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  // const dir = "physics/";
  const entries = await getCollection("slides");
  // , ({ slug }) => {
  //   return slug.startsWith(dir);
  // });
  return entries.map((slides) => ({
    params: { slug: slides.slug },
    props: slides,
  }));
}
type Props = CollectionEntry<"slides">;

const slides = Astro.props;
---

<!doctype html>
<html>
  <head>
    <SlidesHead title={slides.data.title} theme={slides.data.theme} />
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section data-markdown>
          <textarea data-template>{slides.body}</textarea>
        </section>
      </div>
    </div>

    <script src="@/lib/reveal.ts"></script>
  </body>
</html>
